.bgNote {
    background-color: gainsboro;
}

#arrow {
    position: absolute;
    top: 2%;
    left: 5%;
}
h4:hover {
    text-decoration: none;
}
@media screen and (max-width:470px) {
    #arrow {
        display: none;
    }
}